---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url) ?? "en";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsForCurrentLang = allPosts.filter((post) => {
	return post.slug.startsWith(locale + "/");
});
const allPostsByDate = sortMDByDate(allPostsForCurrentLang).slice(0, MAX_POSTS);

const showProject = false;
const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Xue.academy",
		desc: "Learn languages with AI that adjust words to your level.",
		href: "https://xue.academy",
	},
	{
		title: "Precise Sale",
		desc: "Apply optimal dynamic pricing strategy in your business",
		href: "https://precise.sale",
	},
	{
		title: "GPT-CLI",
		desc: "Use GPT Chat directly from command line to find bash commands",
		href: "https://github.com/gustawdaniel/gpt-cli",
	},
	{
		title: "CV Parser",
		desc: "Extract data about candidates from CV to JSON by API.",
		href: "https://www.markdownguide.org/",
	},
];

let title: string = "";
switch (locale) {
	case "pl":
		title = "Witaj świecie!";
		break;
	case "es":
		title = "¡Hola Mundo!";
		break;
	case "fr":
		title = "Bonjour Monde!";
		break;
	default:
		title = "Hello World!";
}
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">{title}</h1>
		<p class="mb-4">
			I love to learn and share my knowledge. On this website you can read about my side projects,
			technologies that I investigating and research. My favorite topics are AI, scraping, data
			processing and web development.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	{
		showProject && (
			<section class="mt-16">
				<h2 class="title mb-4 text-xl">Projects</h2>
				<ul class="space-y-4 sm:space-y-2">
					{projects.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cactus-link inline-block"
							>
								{title}
							</a>
							:<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
