---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { getLocale } from "@/i18n/utils";
import { useTranslations } from "../i18n/utils";

const locale = getLocale();

const MAX_POSTS = 20;
const allPosts = await getCollection("post", ({ id }) => {
	return id.startsWith(`${locale}/`);
});
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Xue.academy",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "maximus",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "invoice",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "cv process",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
];

const site = import.meta.env.SITE;
const url = Astro.url.pathname;
const t = useTranslations(locale);
---

<PageLayout meta={{ title: "Home" }}>
	<!--<section>-->
	<!--	<h1 class="title mb-6">{t("nav.home")}</h1>-->
	<!--	<p class="mb-4">-->
	<!--		{t("home.intro")}-->
	<!--	</p>-->
	<!--	<SocialList />-->
	<!--</section>-->

	<section aria-label="Blog post list" class="font-sans leading-normal tracking-normal">
		<!--<h2 class="title mb-4 text-xl">Posts</h2>-->
		<div class="container mx-auto max-w-6xl px-4 md:px-0">
			<div class="mx-0 sm:mx-6">
				<div class="w-full rounded-t text-xl leading-normal text-gray-800 md:text-2xl">
					<div class="-mx-6 flex flex-wrap justify-between pt-12">
						{
							allPostsByDate.map((p) => (
								<div class="flex w-full flex-shrink flex-grow flex-col p-6 md:w-1/2">
									<PostPreview post={p} />
								</div>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">{t("home.projects")}</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
