---
import type {InferEntrySchema} from "astro:content";
import {Picture} from 'astro:assets';


import {prettyDate} from "../../helpers/prettyDate";
import {readingTime} from "../../helpers/readingTime";

interface Props {
    data: InferEntrySchema<"blog">;
    body: string;
}


const {data, body} = Astro.props;
const locale = Astro.currentLocale ?? 'en';



---

<div class="relative mt-8 flex items-center gap-x-4">
    <Picture src="http://localhost:8484/411d6d7d-6a1e-4096-9a88-fc16a9978f2f.avif"
             widths={[256]}
             formats={['avif']}
             alt={data.author} inferSize={true}
             class="h-10 w-10 rounded-full bg-gray-100  object-cover"
    ></Picture>
    <div class="text-sm leading-6">
        <p class="font-semibold
        text-gray-900 dark:text-gray-100
         my-0">
            <span>
                <!--href="#"-->
                <span class="absolute inset-0"></span>
                {data.author}
            </span>
        </p>
        <p class="text-gray-500 dark:text-gray-400 my-0">
            <time datetime="2020-03-16"
                  class="text-gray-500 dark:text-gray-400">{prettyDate(data.publishDate, locale)}</time>
            <span class="mx-1 text-gray-400 dark:text-gray-500">•</span>
            <span>{readingTime(body)} read</span></p>
    </div>
</div>