---
import type {CollectionEntry} from 'astro:content'
import {fixBlogLocale} from "../../helpers/i18n/fixBlogLocale";
import {stripLang} from "../../helpers/i18n/stripLang";

interface Props {
    article: CollectionEntry<"blog">;
}

const {article} = Astro.props;
import {getRelativeLocaleUrl} from 'astro:i18n';
import PostCoverOnList from "./PostCoverOnList.astro";
import PostDescriptionOnList from "./PostDescriptionOnList.astro";
const locale = Astro.currentLocale ?? 'en';
---

<a href={
    fixBlogLocale(getRelativeLocaleUrl(locale, 'posts/' + locale + stripLang(article.slug)), locale)
} class="col-span-1 sm:col-span-2 lg:col-span-3">
    <article class="grid grid-cols-1 sm:gap-x-8 lg:grid-cols-3">
        <div class="col-span-2">
            <PostCoverOnList data={article?.data} type="large"/>
        </div>

        <PostDescriptionOnList data={article?.data} body={article?.body} type="large"/>
    </article>
</a>